/* #region : Footer*/
.footer {
    clear: both;
    border-top: 1px solid #e2e2e2;
    background: #fff;
    padding: 16px 0 4px 0;
}

.footer__link>span,
.footer__link>a {
    color: #333;
    line-height: 28px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer__link>a:hover {
    color: #2f80ed;
}


.footer__social {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 12px;
}

.footer__social>a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.footer__social>a>i {
    margin-right: 4px;
}

.footer__social>a:nth-child(2)>i {
    color: red;
}

.footer__certify {
    margin-bottom: 12px;
}

.footer__website>a,
.footer__certify>a {
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
}

/* .footer__certify>a>i {
    background-image: url("/assets/img/resource/icon_common@2x.png");
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    background-size: 300px 200px;
} */

.footer__certify>a:nth-child(1)>i {
    background-position: -200px -30px;
    height: 24px;
    width: 79px;
}

.footer__certify>a:nth-child(2)>i {
    background-position: -250px 0;
    height: 25px;
    width: 25px;
}

.footer__certify>a:nth-child(3)>i {
    background-position: -80px -60px;
    height: 24px;
    width: 122px;
}

/* .footer__website>a>i {
    background-image: url(//cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/DMX/Global/Desktop/Logo-webmoi.png?v=3);
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 80px;
    line-height: 30px;
    vertical-align: middle;
    background-size: 250px 200px;
} */

.footer__website>a:nth-child(1)>i {
    background-position: 0 -58px;
}

.footer__website>a:nth-child(2)>i {
    background-position: -85px 0;
}

.footer__website>a:nth-child(3)>i {
    background-position: -170px 0;
}

.footer__website>a:nth-child(4)>i {
    background-position: -85px -90px;
}

.footer__website>a:nth-child(5)>i {
    background-position: -170px -29px;
}

.footer__website>a:nth-child(6)>i {
    background-position: 0 -29px;
}

.footer__website>a:nth-child(7)>i {
    background-position: 0 -90px;
}

.footer__website>a:nth-child(8)>i {
    background-position: 0 -120px;
}

/* #endregion */

/* #region : Copyright*/
.copyright {
    background-color: #f1f1f1;
    padding: 16px 0;
}

/* #endregion */