.discount-pay-online__title {
    margin-top: 1.5rem;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    overflow: hidden;
}

.discount-pay-online__title>h3 {
    overflow: hidden;
    padding: 0px 22px 15px 0;
    font-size: 22px;
    line-height: 36px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
}

.dicount-pay-online__item-img {
    width: 100%;
    height: auto;
    height: 200px;
    border-radius: 12px;
}

@media only screen and (max-width: 992px) {
    .dicount-pay-online__item-img {
        min-width: 300px;
    }
}

@media only screen and (max-width: 768px) {

    .discount-pay-online__title,
    .discount-pay-online__content {
        background-color: #fff;
        border-radius: unset;
    }

    .discount-pay-online__title>h3 {
        padding-top: 15px;
        padding-left: 22px;
    }

    .discount-pay-online__content {
        padding: 8px 22px 22px 28px;
        margin-bottom: 1.5rem;
    }

    .discount-pay-online>.container {
        max-width: unset;
        padding-left: 0;
        padding-right: 0;
    }
}