.promo-another {
    margin-top: 1.5rem;
}

.promo-another__header {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.promo-another__body {
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.promo-another__body .swiper-default__icon-button {
    top: var(--swiper-navigation-top-offset, 36%);
}

.promo-another__header-title {
    overflow: hidden;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    letter-spacing: 1px;
}

@media only screen and (max-width: 768px) {
    .promo-another {
        margin-top: 0;
        border-radius: unset;
    }

    .promo-another>.container {
        max-width: unset;
        padding-left: 0;
        padding-right: 0;
    }

    .promo-another__header {
        border-top-left-radius: unset;
        border-top-right-radius: unset;
    }

    .promo-another__body {
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
    }

    .promo-another__body-slide .swiper-button-prev,
    .promo-another__body-slide .swiper-button-next {
        display: none;
    }
}

.promo-another__body-slide .swiper-default__icon-button {
    top: var(--swiper-navigation-top-offset, 50%);
}

.promo-another__body-slide .swiper-button-prev {
    left: var(--swiper-navigation-sides-offset, -22px);
}

.promo-another__body-slide .swiper-button-next {
    right: var(--swiper-navigation-sides-offset, -22px);
}