<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0">{{config.nameManage}}</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a ui-sref="dashboard">DAGStore</a></li>
                    <li class="breadcrumb-item"><a ui-sref="import-bill">Quản lý {{config.nameManage}}</a></li>
                    <li class="breadcrumb-item active"><a ui-sref="add-brand"></a>{{config.namePage}}</li>
                </ol>
            </div>
        </div>
    </div>

</div>
<!-- end page title -->


<div class="row">


    <div class="col-8">

       

        <div class="card" style="min-height:515px;">
            <div class="card-body p-0" style="padding-bottom:50px;">
                <form class="form-horizontal" novalidate name="formAddBrand" role="form" ng-submit="AddBrand()">
                    <div class="table-responsive">
                        <table class="table table-borderless mb-0">

                            <thead>
                                <tr class="table-info">
                                    <th width="5%">#</th>
                                    <th width="10%">Ảnh</th>
                                    <th>Tên hàng</th>
                                    <th width="15%">Số lượng</th>
                                    <th width="15%">Đơn giá</th>
                                    <th width="15%">Giảm giá</th>
                                    <th width="15%">Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody ng-form="form">
                                <tr class="border-bottom" ng-repeat="item in importbill.ImportBillDetails">
                                    <td>{{$index+1}}</td>
                                    <td><img src="{{item.PicturePath}}" style="height:28px;" class="img-fluid" alt="Responsive image"></td>
                                    <td>{{item.Name}}</td>
                                    <td>
                                        <input ng-model="importbill.ImportBillDetails[$index].Quantity" readonly min="0" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : 0" ng-change="InvoiceProcessing($index)" class="form-control form-control-sm" type="number">
                                    </td>
                                    <td>
                                        <input ng-model="importbill.ImportBillDetails[$index].ImportPrice" readonly min="0" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : 0" ng-change="InvoiceProcessing($index)" class="form-control form-control-sm" type="number">
                                    </td>
                                    <td><input ng-model="importbill.ImportBillDetails[$index].Discount" readonly min="0" max="100" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? (this.value = !!this.value && Math.abs(this.value) <=100 ? Math.abs(this.value):100) : 0" ng-change="InvoiceProcessing($index)" class="form-control form-control-sm" type="number"></td>
                                    <td class="text-right">{{item.TotalImportPrice | formatCurrencyVND}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="min-height:500px;">
            <div class="card-body">
                <form class="form-horizontal" novalidate name="form" role="form" ng-submit="AddBrand()">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-borderless mb-0">
                                    <tbody>
                                        <tr class="border-bottom">
                                            <td>Người tạo đơn</td>
                                            <td>Luyện Hải Đăng</td>
                                        </tr>
                                        <tr class="border-bottom">
                                            <td>Ngày tạo đơn</td>
                                            <td>{{importbill.CreateOn}}</td>
                                        </tr>
                                        <tr class="border-bottom">
                                            <td>Trạng thái</td>
                                            <td>{{importbill.Status | importBillFilter}}</td>
                                        </tr>
                                        <tr class="border-bottom">
                                            <td>Nhà cung cấp</td>
                                            <td>{{importbill.NameSupplier}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                   
                    <!-- Info -->
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-borderless mb-0">
                                    <tbody ng-form="form">
                                        <tr class="border-bottom">
                                            <td>Tổng hóa đơn</td>
                                            <td>{{importbill.TotalPriceBill | formatCurrencyVND}}</td>
                                        </tr>
                                        <tr class="border-bottom">
                                            <td>Tổng giảm giá</td>
                                            <td>{{importbill.TotalDiscount | formatCurrencyVND}}</td>
                                        </tr>
                                        <tr class="border-bottom">
                                            <td>Thanh toán</td>
                                            <td>{{importbill.ActualPriceBill | formatCurrencyVND}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Info -->
                    <div class="form-group row">
                        <div class="col-md-12">
                            <input ng-model="importbill.Description" class="form-control" rows="2" placeholder="Ghi chú"></input>
                        </div>
                    </div>

                    <div class="add-btn mb-4 d-flex justify-content-end" style="gap:12px">
                        <button ui-sref="import-bill" class="btn btn-secondary waves-effect waves-light">Trở lại</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<script>
    $(".ui.dropdown.select-product").dropdown({
        action: 'select',
    });

    $(".ui.dropdown").dropdown({

    });
</script>
<script src="/assets/libs/bootstrap-editable/js/index.js"></script>


