.big-campaign {
    margin-top: -100px;
}

.swiper-slide__item-image {
    width: 100%;
    height: auto;
    min-height: 180px;
    border-radius: 12px;
}

.swiper-default__icon-button {
    background: #fff;
    height: 44px;
    width: 44px;
    padding: 10px 10px;
    opacity: .7;
    border-radius: 100%;
    border: #e1e1e1;
    filter: drop-shadow(0 4px 7px rgba(0, 0, 0, .15));

}

.big-campaign__button-product-next .swiper-default__icon-button.swiper-button-next {
    right: var(--swiper-navigation-sides-offset, -8px);
}

.big-campaign__button-product-prev .swiper-default__icon-button.swiper-button-prev {
    left: var(--swiper-navigation-sides-offset, -8px);
}

.swiper-pagination {
    display: none;
}

.swiper-pagination-bullet {
    border-radius: unset;
    height: 2px;
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 12px));
}

@media only screen and (max-width: 1400px) {
    .big-campaign {
        margin-top: -92px;
    }
}

@media only screen and (max-width: 992px) {
    .big-campaign {
        margin-top: -80px;
    }

    .swiper-slide__item-image {
        min-height: 160px;
    }
}

@media only screen and (max-width: 768px) {
    .big-campaign {
        margin-top: -328px;
    }

    .big-campaign__button-product-prev,
    .big-campaign__button-product-next {
        display: none;
    }

    .swiper-pagination {
        display: block;
    }
}