.shopping-trend__title {
    margin-top: 1.5rem;
    background: linear-gradient(90deg, #ffecd2 0%, #fcb69f 100%);
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    overflow: hidden;
}

.shopping-trend__title>h3 {
    overflow: hidden;
    padding: 15px 22px;
    font-size: 22px;
    line-height: 36px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
}

.shopping-trend__content {
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.shopping-trend__content {
    padding: 0 22px 32px 22px;
    overflow: hidden;
    background: linear-gradient(90deg, #ffecd2 0%, #fcb69f 100%);
}

.shopping-trend__item {
    flex-basis: 25%;
}

.shopping-trend__item-img {
    height: 260px;
    width: 100%;
    border-radius: 8px;
}

.shopping-trend__item-title {
    bottom: 22%;
    left: 20px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shopping-trend__item-description {
    bottom: 10%;
    left: 20px;
    overflow: hidden;
    font-size: 16px;
    color: #2f80ed;
    font-weight: 500;
    width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 992px) {
    .shopping-trend__content {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
    }

    .shopping-trend__item {
        flex-basis: calc(50% - 4px);
    }

    .shopping-trend__item:nth-child(1),
    .shopping-trend__item:nth-child(2) {
        margin-bottom: 8px;
    }
}

@media only screen and (max-width: 768px) {
    .shopping-trend {
        border-radius: unset;
    }

    .shopping-trend__title {
        margin-top: 0;
    }

    .shopping-trend>.container {
        max-width: unset;
        padding-left: 0;
        padding-right: 0;
    }

    .promo-another__title {
        border-top-left-radius: unset;
        border-top-right-radius: unset;
    }

    .promo-another__content {
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
    }
}